body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
h2{
    font-size: 30px;
}
section{
    margin-bottom: 120px;
}
.container{
    width: 1600px;
    margin: 0 auto;
}
.flex-contaienr{
    display: flex;
}
.common-width{
    width: 50%;
    padding: 10px 25px;
}
.parker-color{
    color: #FFA500;
}
.common-btn{
    margin-top: 30px;
    
    a{
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
        background-image: linear-gradient(45deg,#FF9974, #FF674A);
        padding: 10px 45px;
        border-radius: 5px;
        font-weight: bold;            
    }
} 
.banner{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;

    img{
        width: 90%;
        float: right;
    }
    
}
.dream-big{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right center;

    .flex-contaienr{
        flex-direction: row-reverse;
    }
    img{
        width: 90%;
        float: left;
    }
}
.experiences{
    background: red;
    .exp-1{
        width: 50%;
        float: right;
        .experience1{
            width: 90%;
            padding: 30px 30px;
            box-shadow: 5px 7px 40px gray;
            border-left: 10px solid;
            border-image: linear-gradient(#FF9E78, #FF6549);
            border-image-slice: 1;
            margin-left: 5%;
        }
    }
    .exp-2{
        float: left;
        width: 51%;
        .experience2{
            width: 90%;
            padding: 30px 30px;
            box-shadow: 5px 7px 40px gray;
            border-left: 10px solid;
            border-image: linear-gradient(#FF9E78, #FF6549);
            border-image-slice: 1;
            margin-left: -5%;
        }
    }
    
    
}